body {
    background-color: #3E5271;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

footer {
    background-color:lightblue;
    text-align: center;
}

.button {
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    transition: background 300mx;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1)
}

.primary-nav {
    position: relative;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: green;
}

.primary-nav .logo, .primary-nav .toggle {
    margin: 10px;
}

.primary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-nav a {
    text-decoration: none;
}

.primary-nav li {
    display: inline;
    align-items: center;
}


/* Mobile Rules */ 
@media (max-width: 767px) {
    .primary-nav ul {
        opacity: 0;
        transition: all 300ms;
        top: 64px;
        width: 100%;
        position: absolute;
        background: lightblue;
        transform: translateX(-100vw);
    }

    .primary-nav ul.active {
        opacity: 1;
        transform: translateX(0);
    }

    .primary-nav li {
        padding: 10px;
    }

    .primary-nav ul a {
        color: white;
    }

    iframe {
        width: 100%;
    }
}

/* Desktop Rules */
@media (min-width: 768px) {
    .toggle {
      display: none;
    }
    
    .primary-nav ul {
      display: flex;
      margin: 10px;
    }
    
    .primary-nav ul li {
      padding-left: 10px;
    }
  }